black==22.3.0
flake8==3.8.4
gensim==3.8.3
gym==0.17.3
isort==5.6.4
numpy>=1.20
opencv-python==4.4.0.46
pandas==1.1.4
psycopg2-binary>=2.9.1
sklearn==0.0
tensorboard>=2.9
tensorflow==2.9.2
protobuf>3.9.2
slim
pyparsing
